a {
    text-decoration: none;
    color: inherit;;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.page {
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.repositories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: auto;
  }
  
  .repository {
    display: flex;
    flex-direction: column;
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 16px;
    width: 90%;
    margin-bottom: 16px;
  }
  
  .repo-header {
    margin-bottom: 8px;
  }
  
  .repo-name {
    font-size: 20px;
    font-weight: bold;
    color: #0366d6;
    cursor: pointer;
  }
  
  .repo-description {
    color: #272a2e;
  }
  
  .repo-footer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .repo-info {
    color: #586069;
    font-size: 12px;
  }
  
  .repo-info ng-container:not(:last-child) {
    margin-right: 4px;
  }
    
.label-small {
    font-size: 12px;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .spinner {
    width: 50px !important;
  }

.profile {
    margin-top: 50px;
}