<div class="container">
    <div class="card" *ngIf="!isLoading && !isUserNotFound">
        <div class="github-card">
            <div class="user-details">
                <div class="avatar">
                    <img src="{{ user.avatar_url }}" alt="Avatar">
                </div>
                <div class="user-info">
                    <div class="name">{{ user.name }}</div>
                    <div class="username">{{ user.login }}</div>
                    <div class="details">
                        <p>{{ user.bio }}</p>
                        <div class="info-row">
                            <mat-icon aria-hidden="false" fontIcon="group"></mat-icon>
                            <span class="following">{{ user.followers }}</span>
                            <p class="labels">followers &nbsp;</p>
                            <span class="following">{{ user.following }}</span>
                            <p class="labels">following</p>
                        </div>
                        <div class="info-row">
                            <mat-icon aria-hidden="false" fontIcon="location_on"></mat-icon>
                            <span class="location">{{ user.location }}</span>
                        </div>
                        <div class="info-row">
                            <mat-icon aria-hidden="false" fontIcon="email"></mat-icon>
                            <span class="email">{{ user.email==null ? 'No email' : user.email }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="repo-details">
                <div class="info-row">
                  <mat-icon aria-hidden="false" fontIcon="code"></mat-icon>
                  <span class="following"> &nbsp; {{ user.public_repos }}</span>
                  <p class="labels">repositories</p>
                </div>
                <div class="info-row">
                  <button class="git_button" routerLink="/repositories/{{ user.login }}">View Repositories</button>
                </div>
              </div>
        </div>
    </div>

    <div *ngIf="isLoading" class="spinner-container">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
    <div *ngIf="isUserNotFound">
        <h1>User not found!</h1>
    </div>
</div>